<section class="event_section">
    <h1 class="title">Upcoming Events</h1>
    <!-- ES DE PRUEBA !!!!!!! -->
    <img class="logo" src="/images/logo_ludy.jpg" alt="Logo ludyfest">
    <div class="event__cards">
        <card-event />
        <card-event />
        <card-event />
        <card-event />
        <card-event />
    </div>
</section>




<!-- @for(item of events; track $index){
        <card-event [event]="item"></card-event>
        }@empty {
        <h3>No hay eventos</h3>
        } -->