<section>
    <h2 class="my-5">Actualizar perfil</h2>
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

        <div class="mb-3">
            <label>Nombre</label>
            <input type="text" class="form-control" formControlName="name">
            @if (checkError('name', 'required')) {
            <p class="error">El nombre es obligatorio</p>
            }
        </div>

        <div class="mb-3">
            <label>Email</label>
            <input type="email" class="form-control" formControlName="email">
            @if (checkError('email', 'required')) {
            <p class="error">El email es obligatorio</p>
            }
            @if (checkError('email', 'pattern')) {
            <p class="error">El formato del email no es válido</p>
            }
        </div>
        <div class="d-grid gap-2">
            <input type="submit" value="Actualizar" class=" btn btn-warning" [disabled]="!formulario.valid">
        </div>

    </form>
</section>