<section>

  <h2 class="my-5">Login</h2>

  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

    <div class="mb-3">
      <label>Email:</label>
      <input type="email" class="form-control" formControlName="email">
      @if (checkError('email', 'required')) {
      <p class="error">El email es obligatorio</p>
      }
      @if (checkError('email', 'pattern')) {
      <p class="error">El formato del email no es válido</p>
      }
    </div>

    <div class="mb-3">
      <label>Password:</label>
      <div class="contenedor-input">
        <input [type]="verPassword ? 'text' : 'password'" class="form-control" formControlName="password">
        <button type="button" class="boton-ojito" (click)="verPassword = !verPassword">
          @if (!verPassword) {
          <!-- Ojo cerrado -->
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.477 0 8.268 2.943 9.542 7-1.274
              4.057-5.065 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
          </svg>
          } @else {
          <!-- Ojo abierto tachado -->
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.269-2.943-9.543-7a10.038
              10.038 0 013.213-4.502m2.462-1.39A9.956 9.956 0 0112 5c4.477 0 8.268 2.943
              9.542 7a9.96 9.96 0 01-1.132 2.476M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3l18 18" />
          </svg>
          }
        </button>
      </div>
      @if (checkError('password', 'required')) {
      <p class="error">La contraseña es obligatoria</p>
      }
    </div>

    <div class="d-grid gap-2">
      <input type="submit" value="Enviar" class="btn btn-warning" [disabled]="!formulario.valid">
    </div>

  </form>
</section>