/* Estilo para el formulario */
section {
  padding: 40px 0px;
}

form {
  margin: 0 auto;
  max-width: 25rem;
  padding: 30px;
  border-radius: 40px;
  /* top, right-left, bottom */
  font-family: 'Rubik', sans-serif;
  background-color: rgb(204, 204, 204);
  border-radius: 0.5rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.5);
  color: white;
}

/* Estilo para los párrafos de error */
.error {
  color: var( --color-accion-error);
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

/* Estilo para etiquetas */
label {
  font-weight: 500;
  color: white;
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
}

/* Estilo para los inputs */
input.form-control {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  color: #333333;
  transition: border-color 0.2s;
}

/* Estilo para los inputs con el foco*/
input.form-control:focus {
  border-color: var(--color-blanco-ludy);
  box-shadow: 0 0 0 2px var(--color-principal);
}

/* Estilo para el botón */
input[type="submit"] {
  background-color:var(--color-principal);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Estilo para el botón deshabilitado */
input[type="submit"]:disabled {
  background-color: #ccc;
  color: #666;
  opacity: 0.6;
  
  display: none;
}