/* __________________ barra de tareas ___________________ */

.main_nav {
    width: 100%;
    margin: 0 auto;
    background-color: white;
    height: 80px;
    padding: 12px 24px;
    box-shadow: 1px 1px 10px #dadada;
    border-start-start-radius: 25px;
    border-start-end-radius: 25px;
    overflow: hidden;


}

.nav_container {
    justify-content: flex-start;
     flex-wrap: nowrap;
    display: flex;
   
    height: 100%;
    margin: 0 auto;
}



/* ______menu ______ */
.nav_menu {
    height: 50%;
    list-style: none;
    display: flex;
    justify-content: space-around;

     gap: 20px; /* Ajusta según lo que quepa */
    margin: 0;
    padding: 0;
    color: var(--color-blanco);
    flex-shrink: 1; /* Permite que se reduzca si no cabe */
    white-space: nowrap; 
}

.nav_item{
    cursor: pointer;
}

.nav_item:hover {
    color: var(--color-secundario);
    font-size: 103%;
    font-style: inherit;
    color: var(--color-principal);
    text-shadow: 3px 3px 5px var();
}



/* _________ logo _________ */
.logo {
    justify-content: flex-start;
   height: 50px;
    transition: 0.5s;
}

.logo:hover {
    height: 51px;
}











/* _________________ ANCLAR BARRA DE TAREAS ______________ */
.main_nav.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 0 0 25px 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

/* __________________________ FORMATO MOVIL ____________________________ */
@media (max-width: 1000px) {
    .logo {
        display: none;
    }

    .nav_container {
        justify-content: space-around;
        font-size: 30px;
        color: var(--color-principal);
    }
}