<!-- TÍTULO -->
<h2>Admin Events</h2>

<!-- CONTROLES DE BÚSQUEDA -->
<div class="controls">
    <input type="text" placeholder="Search..." [(ngModel)]="searchTerm" />
    <select>
        <option value="date">📅 Date</option>
        <option value="capacity">👤 Capacity</option>
    </select>
</div>



@for (event of arrEvents; track event.id) {
<div class="event-card">
    <img [src]="'public/images/imagen-festival.jpg'" alt="{{event.title}}" class="event-image">
    <div class="event-info">
        <h3>{{event.title}}</h3>
        <p>
            📅 {{ event.date }} &nbsp; &nbsp; 👤 {{ event.capacity }}
        </p>
        <span class="badge">{{event.status}}</span>
    </div>
    <button class="btn btn-primary">Actualizar</button>
    <button class="btn btn-danger">Borrar</button>
</div>
}

<!-- LISTADO DE LOS EVENTOS -->
<!-- <div *ngFor="let event of filteredEvents" class="event-card">
  <img [src]="event.imageUrl" alt="Imagen del evento" class="event-image" />

  <div class="event-info">
    <h3>{{ event.name }}</h3>
    <p>
      📅 {{ event.date }} &nbsp; &nbsp; 👤 {{ event.capacity }}
    </p>
  </div>

  <span class="badge" [ngClass]="event.status.toLowerCase()">
    {{ event.status }}
  </span>
</div> -->